<!-- Header Section -->
<header class="header">
    <div class="container">
        <!-- <h1><strong>Business Services</strong></h1> -->
    </div>
</header>

<!-- Content Section -->
<section class="py-5">
    <div class="container">
        <div class="row">
            <!-- Offer Other Services Section -->
            <div class="col-md-3">
                <h1><strong>Offer Other Services</strong></h1>
                <img src="assets/images/bs_photo.png" alt="Other Services" class="img-fluid">
            </div>

            <!-- Cards Section -->
            <div class="col-md-9">
                <div class="row">
                    <!-- First Row of Cards -->
                    <div class="col-md-6">
                        <div class="card">
                            <img src="assets/images/bs8r.png" class="card-img-left" alt="Cyber Security">
                            <div class="card-body">
                                <h5 class="card-title"><a href="https://www.opensecurityalliance.org/#">Cyber Security</a> </h5>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <img src="assets/images/bs1.png" class="card-img-left" alt="Cloud Security">
                            <div class="card-body">
                                <h5 class="card-title"><a href="https://www.opensecurityalliance.org/service/cloud-security/">Cloud Security</a> </h5>
                                
                            </div>
                        </div>
                    </div>
                    <!-- Second Row of Cards -->
                    <div class="col-md-6">
                        <div class="card">
                            <img src="assets/images/bs2r.png" class="card-img-left" alt="Security Re-Engineering">
                            <div class="card-body">
                                <h5 class="card-title"><a href="https://www.opensecurityalliance.org/service/security-re-engineering/">Security Re-Engineering</a> </h5>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <img src="assets/images/bs3r.png" class="card-img-left" alt="Email Security">
                            <div class="card-body">
                                <h5 class="card-title"><a href="https://www.opensecurityalliance.org/service/email-security/">Email Security</a> </h5>
                                
                            </div>
                        </div>
                    </div>
                    <!-- Third Row of Cards -->
                    <div class="col-md-6">
                        <div class="card">
                            <img src="assets/images/bs4r.png" class="card-img-left" alt="GDPR">
                            <div class="card-body">
                                <h5 class="card-title"><a href="">GDPR</a> </h5>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <img src="assets/images/bs5r.png" class="card-img-left" alt="SOC2">
                            <div class="card-body">
                                <h5 class="card-title"><a>SOC2</a></h5>
                                
                            </div>
                        </div>
                    </div>
                    <!-- Fourth Row of Cards -->
                    <div class="col-md-6">
                        <div class="card">
                            <img src="assets/images/bs6.png" class="card-img-left" alt="SOX Compliance">
                            <div class="card-body">
                                <h5 class="card-title"><a href="https://www.opensecurityalliance.org/#">SOX Compliance</a>  </h5>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <img src="assets/images/bs7r.png" class="card-img-left" alt="Web Security">
                            <div class="card-body">
                                <h5 class="card-title"><a>Web Security</a></h5>
                                
                            </div>
                        </div>
                    </div>
                    <!-- Repeat the structure for other cards as needed -->
                </div>
            </div>
        </div>
    </div>
</section>

<app-contact-us></app-contact-us>