<div class="container-fluid">
    <div class="header">
        <!-- <div class="search-bar-container">
            <div class="search-bar">
                <div class="row w-100 no-gutters">
                    <div class="col-12 col-md-3 mb-2 mb-md-0">
                        <select class="form-control" (change)="onPackageSelect($event)">
                            <option selected>Destination</option>
                            <option value="shimla" routerLink="/shimla">Shimla</option>
                            <option value="guwahati" routerLink="/guwahati">Guwahati</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-3 mb-2 mb-md-0">
                        <select class="form-control">
                            <option selected>Travel Type</option>
                            <option value="1">Adventure</option>
                            <option value="2">Relaxation</option>
                            <option value="3">Cultural</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-3 mb-2 mb-md-0">
                        <select class="form-control">
                            <option selected>Duration</option>
                            <option value="1">1-3 days</option>
                            <option value="2">4-7 days</option>
                            <option value="3">7+ days</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-3 mb-2 mb-md-0">
                        <button class="btn btn-explore w-100" (click)="onSubmitSearch()">Explore Now</button>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>