/* .container-fluid {
    min-height: 100vh;
    background-image: url('src/assets/images/INDIABUSINESS.jpg');
    background-size: cover;
    /* background-position: center; 
    background-repeat: no-repeat; */
    /* color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15% 0;
    padding-bottom: 80px;
} 

.header .search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 380px;
}

.header .search-bar {
    background-color: white;
    max-width: 80vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header .search-bar select,
.header .search-bar .btn-explore {
    flex: 1;
    border-radius: 20px;
    border: 1px solid #ced4da;
    padding: 10px;
    font-size: 1rem;
}

.header .search-bar .btn-explore {
    background-color: black;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

.header .search-bar .btn-explore:hover {
    background-color: #333;
}

@media (max-width: 1440px) {
    .container-fluid {
        height: 400px;
        background-size: contain; 
        padding: 10% 0;
    }
    
    .header .search-bar-container {
        padding-top: 20%;
    }

    .header .search-bar {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
} */