<!-- For Guwahati -->



<!-- Header Section -->
<header class="header">
    <div class="container">
        <h1>Travel Packages</h1>
        <p>Guwahati (02 Nights) Kaziranga (01 Nights)</p>
    </div>
</header>

<!-- Tabs Section -->
<div class="container">
    <ul class="nav nav-tabs" style="justify-content: center; font-size: 20px; padding-top: 20px;">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#" routerLink="">
                <img src="assets/images/tour2.png"/>
                Information
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" [routerLink]="['/guwahati']">
                <img src="assets/images/tour1.png"/>
                Tour Plan
            </a>
        </li>
    </ul>
    <div class="tab-content container shadow-effect" id="myTabContent">
        <div class="tab-pane fade show active" id="information" role="tabpanel" aria-labelledby="information-tab">
                <div class="row shadow-sm p-4" style="box-shadow:  20px 20px 60px #bebebe,
                  -20px -20px 60px #ffffff; padding-top: 30px;">
                    <div class="col-md-8">
                        <h2 class="section-title"><strong>Cool Khangchendzongha</strong></h2>
                        <img src="assets/images/tour4.png" height="20px" width="80px"/> (2.3k review)
                        <br>
                        <br>
                        <p>Duration: 03 Nights / 04 Days</p>
                        <p>Shimla (02 Nights) Guwahati (03 Nights)</p>
                        <br>
                        <br>
                        <div class="tour-details mt-4">
                            <ul>
                                <li><span class="day-title">Destination</span> Shimla (02 Nights) Manali (3 Nights)</li>
                                <br>
                                <br>
                                <li><span class="day-title">Departure</span> Guwahati</li>
                                <br>
                                <br>
                                <li><span class="day-title">Days</span> 04 Days</li>
                                <br>
                                <br>
                                <li><span class="day-title">Proposed Hotels</span> Hotel Sukh Sagar & A Star Regency</li>
                            </ul>
                            <div class="package-done mt-4" style="padding-top: 20px;">
                                <ul>
                                    <li><span class="day-title">Not Included</span>
                                         <p>Porterage and Personal Expenses.</p>
                                        <p> Extra 5% GST. </p>
                                        <p>  Guide Charges if any. </p>
                                        <p> Any Major Meals i.e. Lunch or Dinner if not specified 
                                            in inclusion list.</p>
                                        <p> Flight Tickets not included in above cost.</p>
                                        <p> GST will be applicable extra as per Govt. 
                                            regulations. </p>
                                        <p> RT PCR if applicable is not included. </p>
                                        <p> Any Kind of Travel or Health Insurance is not
                                             included in mentioned cost.</p>
                                        <p>Guide & Guide Fees is not included in above 
                                            package. </p>
                                        <p>All personal expenses like any Tips, Portage, 
                                            Laundry charges, Telephone calls/fax, Alcoholic 
                                            beverages. </p>
                                    </li>
                                </ul>
                                <ul>
                                    <li><span class="day-title">Included</span>
                                        <p>Transportation by A/c Dzire/Etios for 
                                            the entire tour</p> 
                                            
                                        <p>    All sightseeing and excursions as per the 
                                            itinerary · </p> 
                                            
                                        <p>     Mentioned or similar hotels on as per the 
                                            meal Plan ·</p>  
                                            
                                        <p>     Child of the age of below 5 Years of 
                                            complimentary without extra bed </p> 
                                            
                                        <p>     GST 5%</p>
                                    </li>
                                </ul>
                            </div>
                            <section class="rate mt-5">
                                <h2><strong>RATE</strong></h2>
                                <div class="card-wrapper d-flex justify-content-left flex-wrap">
                                    <div class="card shadow-sm m-2">
                                        <div class="card-body text-center">
                                            <img src="assets/images/home1.png" alt="CP PLAN" class="img-fluid" />
                                            <h5 class="card-title mt-3"><strong>CP PLAN</strong></h5>
                                            <p class="card-text">Cost Per Person: 1,12,829</p>
                                        </div>
                                    </div>
                                    <div class="card shadow-sm m-2">
                                        <div class="card-body text-center">
                                            <img src="assets/images/home1.png" alt="MAP PLAN" class="img-fluid" />
                                            <h5 class="card-title mt-3"><strong>MAP PLAN</strong></h5>
                                            <p class="card-text">Cost Per Person: 1,20,829</p>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                    <!-- booking section -->
                    <div class="col-md-4" style>
                        
                        <!-- <form class="contact-form">
                            <h3 class="section-title"><strong>Book This Tour</strong></h3>
                            <p style="text-align: center;">Enjoy the cool breeze and snow showers in Shimla. Explore tourist Spots with lush greens,
                                 visit architectural gems and grab off-season discounts!</p>
                            <div class="form-group w-100">
                                <label for="name"></label>
                                <input type="text" class="form-control" id="name" placeholder="Name" required>
                            </div>
                            <div class="form-group w-100">
                                <label for="email"></label>
                                <input type="email" class="form-control" id="email" placeholder="Email" required>
                            </div>
                            <div class="form-group w-100">
                                <label for="email"></label>
                                <input type="email" class="form-control" id="email" placeholder="Confirm Email" required>
                            </div>
                            <div class="form-group w-100">
                                <label for="phone"></label>
                                <input type="text" class="form-control" id="phone" placeholder="Phone" required>
                            </div>
                            <div class="form-group w-100">
                                <label for="date"></label>
                                <input type="date" class="form-control" id="date" placeholder="dd-mm-yy" required>
                            </div>
                            <div class="form-group w-100">
                                <label for="phone"></label>
                                <input type="text" class="form-control" id="phone" placeholder="Number Of Ticket" required>
                            </div>
                            <div class="form-group w-100">
                                <label for="message"></label>
                                <textarea class="form-control" id="message" rows="1" placeholder="Message" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Send Message</button>
                        </form>
                        <div class="last-img">
                            <img src="/assets/images/package.png" alt="last-img" style="height: 200px; font-weight: 250px;"/>
                        </div> -->
                        <app-book-tour selectedPlan="guwahati"></app-book-tour>
                    </div>
                    <!-- Rate Section -->
    <!-- <section class="rate">
        <h2 style="padding-left: 30px;"><strong>RATE</strong></h2>
        <div class="container">
            <div class="card-wrapper" >
                <div class="col-md-3">
                    <div class="card" style="box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;">
                        <div class="card-body text-center">
                            <img src="/assets/images/home1.png" style="height: 170px; width: 170px; gap: 30px;"/>
                            <h5 class="card-title" style="padding-top: 20px;"><strong>CP PLAN</strong></h5>
                            <p class="card-text" style="font-size: 14px;">Cost for 2 Person  :- 1,12,829</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card" style="box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;">
                        <div class="card-body text-center">
                            <img src="/assets/images/home1.png" style="height: 170px; width: 170px; gap: 30px;" />
                            <h5 class="card-title" style="padding-top: 20px;"><strong>MAP PLAN</strong></h5>
                            <p class="card-text" style="font-size: 14px;">Cost for 2 Person:-  1,20,829</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
                </div>    
        </div>
    </div>
</div>